#notifications-container {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

#notifications-container:last-child {
  padding-bottom: 20px;
}

.notification {
  width: 100%;
  padding: 20px 20px 0;
  box-sizing: border-box;
}

.notification-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.notification-author-avatar {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.notification-author-nickname {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin: 8px 8px 8px 0px;
  margin-right: 8px;
  white-space: nowrap;
  line-height: 1;
}

.notification-header .hyperlink {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 8px;
}

.notification-date {
  margin-left: auto;
  white-space: nowrap;
}

.notification-feedback-container {
  margin-top: 8px;
}

.notification-feedback-button {
  border: 0;
  outline: 0;
  box-shadow: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--hyperlink-color);
  text-decoration: underline 1px #0000;
  background-color: #0000;
  font-size: 12px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.notification-feedback-button:hover {
  text-decoration-color: var(--hyperlink-color);
}

.notification-content {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  color: var(--notification-content-text-color);
  white-space: pre-wrap;
  word-break: break-word;
}

.notification-content pre {
  overflow: auto;
}

#active-textarea {
  width: 100%;
  display: block;
  resize: none;
  padding: 8px;
  outline: 0;
  border: 1px solid var(--border-color);
  font: inherit;
  box-sizing: border-box;
  margin-bottom: 8px;
  line-height: 1;
  height: 30px;
}
