body {
  width: 500px;
  margin: 0;
}
body.light {
  --header-background: #08b27c;
  --notification-default-background-color: #ffffff;
  --notification-hover-background-color: #f6f9fa;
  --notification-content-text-color: #424242;
  --notification-author-text-color: #bdbdbd;
  --notification-border-color: #eeeeee;
  --unread-color: #d9f5ec;
  background: #ffffff;
}
body.dark {
  --header-background: #121212;
  --notification-default-background-color: #222222;
  --notification-hover-background-color: #242525;
  --notification-content-text-color: #e8eaed;
  --notification-author-text-color: #d3dbe6;
  --notification-border-color: #333333;
  --unread-color: #343939;
  background: #222222;
}
::-webkit-scrollbar {
  width: 14px;
  transition: .1s ease-in-out;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
}
body.light ::-webkit-scrollbar {
  background: #ffffff;
}
body.light ::-webkit-scrollbar-thumb {
  border: 4px solid #ffffff;
  background: #aaaaaa;
}
body.light ::-webkit-scrollbar-thumb:active {
  background: #838383;
}
body.dark ::-webkit-scrollbar {
  background: #272727;
}
body.dark ::-webkit-scrollbar-thumb {
  border: 4px solid #272727;
  background: #505050;
}
body.dark ::-webkit-scrollbar-thumb:active {
  background: #808080;
}
.hyperlink {
  text-decoration-color: #0000;
  color: #1890ff;
  transition: text-decoration-color .1s ease-in-out;
}
.hyperlink:hover {
  text-decoration-color: #1890ff;
}
#notifications-section {
  width: 100%;
  height: 444px;
  overflow: hidden auto;
}
.notifications-header {
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  background: var(--header-background);
  transition: border-color .1s ease-in-out, background-color .1s ease-in-out;
  padding: 0 20px;
  column-gap: 16px;
  box-sizing: border-box;
}
.notifications-header button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: #00000000;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
#notifications-container {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.notification:first-of-type {
  padding-top: 20px;
}
.notification:last-of-type {
  padding-bottom: 20px;
  border-bottom: none;
}
.notification {
  margin: 0;
  padding: 16px 20px 12px 20px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  box-sizing: border-box;
  border-bottom: solid 1px var(--notification-border-color);
  background-color: var(--notification-default-background-color);
  transition: background-color .1s ease-in-out, border-color .1s ease-in-out;
}
.unread {
  animation: unread-transition 1s ease-in-out;
}
.notification:hover {
  background-color: var(--notification-hover-background-color);
}
.notification-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
#mark-all-read svg path {
  fill: #ffffff;
}
#mark-all-read:disabled svg path {
  fill: #a8c0bb;
}
.notification-author--avatar {
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 8px;
}
.notification-author--nickname {
  font-size: 12px;
  font-weight: 400;
  color: var(--notification-author-text-color);
  margin: 0 8px 0 0;
  white-space: nowrap;
}
.notification-header .hyperlink {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notification-date {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 18px;
  margin-left: auto;
  padding-left: 8px;
  white-space: nowrap;
}
.notification-content {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: var(--notification-content-text-color);
  white-space: pre-wrap;
  word-break: break-word;
}
#loading-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-block: 20px;
}
.loading-spinner {
  width: 100%;
  display: grid;
  place-items: center;
  height: 50px;
}
.loading-icon {
  width: 30px;
  height: 30px;
  border: 3px solid #0000;
  border-radius: 50%;
  border-top-color: #1890ff;
  border-left-color: #1890ff;
  animation: spin .6s ease-in-out infinite;
}
#mark-read-loading {
  width: 18px;
  height: 18px;
  position: relative;
  display: none;
}
#mark-read-loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-color: #ffffff #00000000 #00000000 #00000000;
  width: 18px;
  height: 18px;
  animation: spin 1.2s cubic-bezier(.5, 0, .5, 1) infinite
}
#mark-read-loading div:nth-child(1) {
  animation-delay: -.45s
}
#mark-read-loading div:nth-child(2) {
  animation-delay: -.3s
}
#mark-read-loading div:nth-child(3) {
  animation-delay: -.15s
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes unread-transition {
  0%, 50% {
    background-color: var(--unread-color);
  }
  100% {
    background-color: var(--notification-default-background-color);
  }
}