@import "./notifications.css";
@import "./loading-spinner.css";
@import "./settings.css";

body {
  width: 500px;
  margin: 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --header-background: #08b27c;
  --hyperlink-color: #1890ff;
  --button-color: #ffffff;
  --button-hover-color: #f6f6f6;
  --button-text-color: #202124;
  --border-color: #d8d9db;
  --box-shadow-color: #000a;
  background-color: #ffffff;
  color: #202124;
}

body.dark {
  --header-background: #010409;
  --hyperlink-color: #00bfff;
  --button-color: #0d1117;
  --button-hover-color: #222325;
  --button-text-color: #ffffff;
  --border-color: #ffffff;
  --box-shadow-color: #eff8;
  background-color: #0d1117;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 14px;
  transition: 0.1s ease-in-out;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
}

body ::-webkit-scrollbar {
  background: #ffffff;
}

body ::-webkit-scrollbar-thumb {
  border: 4px solid #ffffff;
  background: #aaaaaa;
}

body ::-webkit-scrollbar-thumb:active {
  background: #838383;
}

body.dark ::-webkit-scrollbar {
  background: #222325;
}

body.dark ::-webkit-scrollbar-thumb {
  border: 4px solid #222325;
  background: #3c3e42;
}

body.dark ::-webkit-scrollbar-thumb:active {
  background: #4c4f55;
}

.hidden {
  display: none;
}

.hyperlink {
  text-decoration-color: #00000000;
  color: var(--hyperlink-color);
  transition: text-decoration-color 0.1s ease-in-out;
}

.hyperlink:hover {
  text-decoration-color: var(--hyperlink-color);
}

#notifications-section,
#settings-section {
  width: 100%;
  height: 444px;
  overflow: hidden auto;
}

.notifications-header {
  display: flex;
  align-items: center;
  height: 38px;
  width: 100%;
  background: var(--header-background);
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  padding: 0 20px;
  column-gap: 16px;
  box-sizing: border-box;
}

.notifications-header button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: #00000000;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.notifications-header button#settings-button {
  margin-left: auto;
}

#notifications-container {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#active-textarea {
  width: 100%;
  display: block;
  resize: none;
  padding: 8px;
  outline: 0;
  border: 1px solid var(--border-color);
  font: inherit;
  box-sizing: border-box;
  margin-bottom: 8px;
  line-height: 1;
  height: 30px;
}

.notification-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  box-sizing: border-box;
  margin-bottom: 7px;
}

#mark-all-read svg path {
  fill: #ffffff;
}

#mark-all-read:disabled svg path {
  fill: #a8c0bb;
}
