#rainbow-header {
  height: 2px;
  background: linear-gradient(90deg, #ff1744 0%, #ffc400 12.5%, #00e676 25%, #2979ff 37.5%, #651fff 50%, #2979ff 62.5%, #00e676 75%, #ffc400 87.5%, #ff1744 100%) 0 0/200% 100%;
  animation: rainbow 2s linear infinite;
}

#rainbow-header.stopped {
  background: #00000000;
  animation: none;
}

@keyframes rainbow {
  to {
    background-position: -200% 0;
  }
}
